<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebAppWithDesktopClient.ProjectTemplate.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_safeprojectname_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WebAppWithDesktopClient.ProjectTemplate.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WebAppWithDesktopClient.ProjectTemplate.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebAppWithDesktopClient.ProjectTemplate.Desktop.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>subscriber@example.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Password@123</value>
            </setting>
            <setting name="IsLoggedIn" serializeAs="String">
                <value>False</value>
            </setting>
        </WebAppWithDesktopClient.ProjectTemplate.Desktop.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <_safeprojectname_.Properties.Settings>
            <setting name="PageSize" serializeAs="String">
                <value>10</value>
            </setting>
        </_safeprojectname_.Properties.Settings>
        <WebAppWithDesktopClient.ProjectTemplate.Web.Properties.Settings>
            <setting name="PageSize" serializeAs="String">
                <value>10</value>
            </setting>
        </WebAppWithDesktopClient.ProjectTemplate.Web.Properties.Settings>
        <WebAppWithDesktopClient.ProjectTemplate.Desktop.Properties.Settings>
            <setting name="WebAppUrl" serializeAs="String">
                <value>http://localhost/$saferootprojectname$.Web/</value>
            </setting>
        </WebAppWithDesktopClient.ProjectTemplate.Desktop.Properties.Settings>
    </applicationSettings>
</configuration>