<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="$safeprojectname$.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="$safeprojectname$.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <$safeprojectname$.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value>subscriber@example.com</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Password@123</value>
      </setting>
      <setting name="IsLoggedIn" serializeAs="String">
        <value>False</value>
      </setting>
    </$safeprojectname$.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <$safeprojectname$.Properties.Settings>
      <setting name="WebAppUrl" serializeAs="String">
        <value>http://localhost/$safeprojectname$.Web/</value>
      </setting>
    </$safeprojectname$.Properties.Settings>
  </applicationSettings>
</configuration>